In [ ]:
import pandas as pd
#creating aseries 
series= pd.series([1,2,3,4])
print(series)

In [ ]:
#creatind dataframe from dic
data={'name':[esraa,asmaa,rewan]
      'age':[22,20,16] }
df= pd.dataframe(data)
print(df)

In [ ]:
#viewing the first 5 rows
df.head()

In [ ]:
#getting dataframe info
df.info()

In [ ]:
#describing statistical info
df.describe()

In [ ]:
#select coloumns
print(df['name'])

In [ ]:
#filtering rows based on condition
filtered_df= df[df['age'>20]
print(filtered_df)

In [ ]:
#selecting specific rows and columns
selected_df= df.loc[0:1,['name','age']]
print(selected_df)
df.iloc[0:1 ,[0,1]]

In [ ]:
#adding new column
df['salary']=[100,200,300]
print(df)

In [ ]:
#Updating Column Values
df['age']=df['age']+1
print(df)

In [ ]:
#Dropping Columns
df=df.drop('age',axis=1)
print(df)
#sol of Try
df=df.drop(0,axis=0)
print(df)

In [ ]:
#Detecting Missing Values
df_with_nan=pd.dataframe({'a':[1,2,none],'b':[4,none,6]})
print(df_with_nan.isnull())

In [ ]:
#Create DataFrame from dict
student_df = pd.DataFrame (student_dict, index=['a', 'b', 'c', 'd'])
student_df

In [ ]:
student_df.fillna(0)

In [ ]:
df_with_nan= pd.DataFrame({'A': [1,2, None), 'B': [None, None, 6]))
df_with_nan

In [ ]:
df_with_nan['A'] = df_with_nan['A'].fillna( df_with_nan['A'].mean())
df_with_nan

In [ ]:
#Python dict object
student_dict = {'Name': ['Joe', 'Ali', 'Baraa', "Tala"], 'Age': [20, None, 40,35], "Marks': [None, None, 95,80] }
#Create DataFrame from dict
student_df = pd.DataFrame (student_dict, index=['a', 'b', 'c', 'd'])
student_df

In [ ]:
student_df["Marks"].mean()

In [ ]:
student_df["Marks"].fillna(student_df["Marks"].mean())

In [ ]:
#Dropping Rows with Missing Values
df_with_nan = pd.DataFrame({'A': [1, 2, None], 'B': [4, None, 6]])
print(df_with_nan.isnull())
cleaned_df = df_with_nan.dropna()
print(cleaned_df)

In [ ]:
#Applying Custom Functions with apply()
def double_salary(x):
return x *2
df['Double Salary'] = df['Salary').apply(double_salary)
print(df)

In [ ]:
#Grouping and Aggregation
df = pd.DataFrame({'Department': ['HR', 'IT', 'HR', 'IT'],
                   'Salary': [50000, 60000, 45000, 80000]})
grouped = df.groupby('Department').mean()
print(grouped)

In [ ]:
#Calculating the Average Salary by Department
average salary_by_dept= df.groupby('Department')['Salary'].mean()
print("Average Salary by Department:\n")
average_salary_by_dept.head()

In [ ]:
#csv
import pandas as pd
df_grades = pd.read_csv("Grades_Short.csv")
df_grades.head(3)

In [ ]:
#Get column names
df_grades.columns

In [ ]:
#Get row names
df_grades.index

In [ ]:
#Get Name column
df_grades['Name']
df grades. Name

In [ ]:
#Select multiple columns
df_grades[[("Name", "Grade"]]

In [ ]:
#Print the column
df_grades ["Name"]

In [ ]:
#Store the column
names= df_grades ["Name"]
names

In [ ]:
#Slicing a Data Frame
first_name = df_grades.loc[0,"Name"]
first_name

In [ ]:
slice_one = df_grades.loc[0:2,"Name":"Mini_Exam2"]
slice_one

In [ ]:
max_mini_1 = df_grades["Mini_Examl"].max()
max_mini_1

In [ ]:
#descripe in dataframe
summary_df = df_grades.describe()
summary_df

In [ ]:
#value counts metod
df_grades["Grade"].value_counts()

In [ ]:
#unique method
df_grades ["Grade"].unique()

In [ ]:
#Get dimensions
df_grades.shape

In [ ]:
#Get column types
df_grades.dtypes

In [ ]:
#Get first 5 rows
df_grades.head()

In [ ]:
#Compute mean of finals column
df_grades["Final"].mean()

In [ ]:
#Delete single column
del df_grades ["Final_Percentage"]
df_grades.head()

In [ ]:
#Delete multiple columns
df_grades.drop(("new_column", "Part_perc"), axis=1, inplace = True)
df_grades.head()

In [ ]:
df_missing = pd.read_csv("Data/Missing_Data.csv", \na_values=["NaN", "not available"])
df_missing

In [ ]:
#Isnull() Method
df pd.read_csv("Data/Missing_Data.csv", na_values=["NaN", -1, "not available"])
df